


.capa_oscura {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(1px);
  filter: brightness(0.5);
}


.div_p{
  p{
    font-size: 18px;
    max-width: 373px;
    color: #000000;
  }
}
.div_img{
  img{
    height: auto;
    width: 148px;
  }
}