.bg-image{
    background-image: url("../../../assets/img_habit.jpg");
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll; */
    background: no-repeat center center fixed cover scroll;
    height: 63vh;
    position: relative;
}

.style-brightness{
    position: absolute;
    inset: 0;
    background-color: #00000069;
}