.size-img {
  height: auto;
  width: 300px;
  padding: 1rem;
}

.max-width-viewp {
  max-width: 1000px;
  padding: 5px;
  margin: auto;
}

.home-bg {
  background-image: url('../../assets/img_restaurant.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
  height: 63vh;
  position: relative;
}

.capa_oscura {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(1px);
  filter: brightness(0.5);
}


