.size-img {
  height: auto;
  width: 300px;
  padding: 1rem;
}

.max-width-viewp {
  max-width: 1000px;
  padding: 5px;
  margin: auto;
}



.capa_oscura {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(1px);
  filter: brightness(0.5);
}

.restaurant-bg-image {
  background-image: url("/img_restaurant.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
  height: 43vh;
  position: relative;
}

