.size-img{
    height: auto;
    width: 300px;
    padding: 1rem;
  }
  
  
  .max-width-viewp{
    max-width: 1000px;
    padding: 5px;
    margin: auto;
  }

  .home-bg{
    background-image: url("../../assets/img_portada.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-attachment: scroll;
    background-size: cover;
    height: 63vh;
  }