:root{
  --height: auto;
  --width: 27px;
}
footer {
  background-color: #7CD0C8;
  color: #fff;
  height: 14vh;
  padding: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 84rem;
  b{
    color: #000;
  }
  section{
    display: flex;
    justify-content: center;
    gap: 1rem;
    div{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }
  .ig, .wsp, .mail, .loc{
    fill: black;
    color: #000;
    width: var(--width);
    height: var(--height);
  }
  
  .facebk{
    color: #000;
    width: var(--width);
    height: var(--height);

  }
}

