footer {
    background-color: #222;
    color: #fff;
    padding: 5px;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-logo img {
   height: auto;
   width: 4rem;
  }
  
  .footer-social ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
  }
  
  .footer-social ul li {
    display: inline-block;
  }
  
  .footer-social ul li a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-social ul li a:hover {
    color: #1da1f2; /* Cambia el color al pasar el mouse */
  }
  