@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
}
.texto-gradiente{
  background: linear-gradient(rgb(255, 255, 255),rgb(96, 104, 182));
  -webkit-background-clip: text;
  color: transparent; 
}
.size-img{
  height: auto;
  width: 300px;
  padding: 1rem;
}


.max-with-viewp{
  max-width: 1000px;
  padding: 1rem;
  margin: auto;
}
body {
  font-family:Roboto , sans-serif;
  background: #fff;
}

.size-img-gallery{
  height: auto;
  width: 70px;
  /* padding: 1rem; */
}